<app-homeboard></app-homeboard>
<div class="contenedor-purchases">

    <div class="row">
        <div class="col-75">
            <div class="container" id="servicios-compra">
                <div class="row">
                    <div class="col-sm-3"> 
                        <a routerLink="/purchases">Compras</a>
                    </div>
                    <div class="col-sm-3">
                        <a routerLink="/purchases/billing-history">Historial de facturación</a>
                    </div>
                    <div class="col-sm-3">
                        <a routerLink="/purchases/next-charges">Próximos Cargos</a>
                    </div>
                    <div class="col-sm-3">
                        <a routerLink="/purchases/other-websites">Otros sitios web</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 1rem;" id="det-planilla">
        <div class="col-75">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <i class="fas fa-search fa-2x fa-lg" style="margin-left: 90%; margin-top: 10%;"></i>
                    </div>
                    <div class="col-sm-11">
                        <input type="text" placeholder="Buscar entre los recibos...">
                    </div>
                </div>
                <div class="row" style="text-align:justify !important;">
                    <div class="col-sm-12">
                        <hr>
                        <p>No se ha encontrado recibo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row" style="margin-top: 1rem;" id="det-planilla2">
        <div class="col-75">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../assets/img/tech-support.jpg" alt="tech-support">
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <h6>¿Hola?</h6>
                        </div>
                        <div class="row">
                            <p>Ofrecemos sesiones de Inicio Rápido individuales para que alcances el éxito con tu sitio web. Haz clic en el botón para descubrir cómo podemos ayudarte durante nuestras llamadas de 45 minutos.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger">Más Información </button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



<!-- 
    <div id="divMsg" style="display:none">
        <div class="button-back">
            <button class="btn success" (click)="VolverMes('payroll-list')">
                Volver
            </button>
        </div>
    </div> -->
</div>