<app-homeboard></app-homeboard>
<div class="contenedor-security">

    <div class="row">
        <div class="col-75">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <select name="" id="">
                            <option value="0">Seleccione...</option>
                            <option value="1">Contraseña</option>
                            <option value="2">Acceso con redes sociales</option>
                            <option value="3">Autenticación en dos pasos</option>
                            <option value="4">Aplicaciones conectadas</option>
                            <option value="5">Recuperación de cuenta</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 1rem;">
        <div class="col-75">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Para actualizar tu contraseña, introduce una nueva más abajo. Las contraseñas seguras tienen al menos seis caracteres y usan letras mayúsculas y minúsculas, números y símbolos como ! ” ? $ % ^ & ).</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Nueva Contraseña</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Si tienes dificultades para crear una buena contraseña usa el siguiente botón para generar una.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button>Generar Contraseña</button>
                        </div>
                        <div class="col-sm-6">
                            <button>Guardar Contraseña</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>