<app-homeboard></app-homeboard>
<div class="contenedor-purchases">

    <div class="row">
        <div class="col-75">
            <div class="container" id="servicios-compra">
                <div class="row">
                    <div class="col-sm-3"> 
                        <a routerLink="/purchases">Compras</a>
                    </div>
                    <div class="col-sm-3">
                        <a routerLink="/purchases/billing-history">Historial de facturación</a>
                    </div>
                    <div class="col-sm-3">
                        <a routerLink="/purchases/next-charges">Próximos Cargos</a>
                    </div>
                    <div class="col-sm-3">
                        <a routerLink="/purchases/other-webites">Otros sitios web</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 1rem;" id="det-planilla">
        <div class="col-75">
            <div class="container">
                <div class="row">
                    <h1>No se han encontrado páginas recurrentes</h1>
                </div>
            </div>
        </div>
    </div>


</div>