<app-header></app-header>
<div class="contenedor-landing">
    <section id="primero">
        <div class="container">
            <h1>DEVIACAT-CMS</h1>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        ¡Únete a Deviacat!, una comunidad en crecimiento que te permite desarrollar tu propia pagina web aunque no tengas experiencia de programación
                    </p>

                </div>
                <div class="col-md-6">
                    <img src="../../assets/img/tecnologia-gente.jpg" id="techs" alt="techs">
                </div>
            </div>
        </div>
    </section>

    <section id="segundo">
        <div class="container">
            <h1 style="color: white; font-size: 2rem; padding: 2rem; font-weight: bold;">¿Qué puedes hacer con DEVIACAT-CMS?</h1>
            <p style="text-align: center; color: white; font-size: 1.5rem; margin-bottom:2.5rem;">Deviacat te proporciona todo lo que necesitas para crear lo que tú quieras. es flexible, seguro, versatil y eficiente, tal como deseas tu negocio</p>
            <div class="row">
                <div class="col-md-6 segundo">
                    <i class="fas fa-heart fa-3x fa-lg" style="color: white; text-align: center; margin-left: 10rem;"></i>
                    <h1 style="color: white; font-size: 2rem; padding: 2rem; font-weight: bold; text-align: left;">Llega a tu público</h1>
                    <p style="color: white;">
                        Haz que tu negocio crezca promocionando tus productos, usando estadísticas avanzadas, herramientas de posicionamiento SEO o conectando con tu público en las redes sociales.
                    </p>

                </div>
                <div class="col-md-6 segundo">
                    <i class="fas fa-shopping-cart fa-3x fa-lg" style="color: white; text-align: center; margin-left: 10rem;"></i>
                    <h1 style="color: white; font-size: 2rem; padding: 2rem; font-weight: bold; text-align: left;">Abre una tienda online</h1>
                    <p style="color: white;">
                        Haz que tu negocio crezca promocionando tus productos, usando estadísticas avanzadas, herramientas de posicionamiento SEO o conectando con tu público en las redes sociales.
                    </p>

                </div>
            </div>

            <div class="row" style="padding-top: 3rem; background-color:#F47835;">
                <div class="col-md-6 segundo">
                    <i class="fas fa-heart fa-3x fa-lg" style="color: white; text-align: center; margin-left: 10rem;"></i>
                    <h1 style="color: white; font-size: 2rem; padding: 2rem; font-weight: bold; text-align: left;">Llega a tu público</h1>
                    <p style="color: white;">
                        Haz que tu negocio crezca promocionando tus productos, usando estadísticas avanzadas, herramientas de posicionamiento SEO o conectando con tu público en las redes sociales.
                    </p>

                </div>
                <div class="col-md-6 segundo">
                    <i class="fas fa-shopping-cart fa-3x fa-lg" style="color: white; text-align: center; margin-left: 10rem;"></i>
                    <h1 style="color: white; font-size: 2rem; padding: 2rem; font-weight: bold; text-align: left;">Abre una tienda online</h1>
                    <p style="color: white;">
                        Haz que tu negocio crezca promocionando tus productos, usando estadísticas avanzadas, herramientas de posicionamiento SEO o conectando con tu público en las redes sociales.
                    </p>

                </div>
            </div>

        </div>

    </section>
</div>