<app-header></app-header>
<div class="contenedor-landing">
    <section id="primero">
        <div class="container">
            <h1>DEVIACAT-CMS</h1>
            <h6>ECONOMÍA, PRODUCTIVIDAD, CONFIANZA</h6>
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <br>
                    <p>
                        ¡Únete a Deviacat!, una comunidad en crecimiento que te permite desarrollar tu propia pagina web aunque no tengas experiencia de programación
                    </p>

                </div>
                <div class="col-md-6">
                    <img src="../../assets/img/57104 (7).png" id="techs" alt="techs">
                </div>
            </div>
        </div>
    </section>

    <section id="segundo">
        <div class="container">
            <h1 style="color: white; font-size: 2rem; padding: 2rem; font-weight: bold;">¿Qué puedes hacer con DEVIACAT-CMS?</h1>
            <p style="text-align: center; color: white; font-size: 1.5rem; margin-bottom:2.5rem;">Deviacat te proporciona todo lo que necesitas para crear lo que tú quieras. es flexible, seguro, versatil y eficiente, tal como deseas tu negocio</p>
            <div class="row">
                <div class="col-md-6 segundo">
                    <i class="fas fa-heart fa-3x fa-lg" style="color: white; text-align: center; margin-left: 10rem;"></i>
                    <h1 style="color: white; font-size: 2rem; padding: 2rem; font-weight: bold; text-align: left;">Llega a tu público</h1>
                    <p style="color: white; margin-right: 1rem;">
                        Haz que tu negocio crezca promocionando tus productos, usando estadísticas avanzadas, herramientas de posicionamiento SEO o conectando con tu público en las redes sociales.
                    </p>

                </div>
                <div class="col-md-6 segundo">
                    <i class="fas fa-shopping-cart fa-3x fa-lg" style="color: white; text-align: center; margin-left: 10rem;"></i>
                    <h1 style="color: white; font-size: 2rem; padding: 2rem; font-weight: bold; text-align: left;">Abre una tienda online</h1>
                    <p style="color: white; margin-left: 1rem;">
                        Haz que tu negocio crezca promocionando tus productos, usando estadísticas avanzadas, herramientas de posicionamiento SEO o conectando con tu público en las redes sociales.
                    </p>

                </div>
            </div>

            <div class="row" style="padding-top: 3rem; background-color:#F47835;">
                <div class="col-md-6 segundo">
                    <i class="fas fa-pen-fancy fa-3x fa-lg" style="color: white; text-align: center; margin-left: 10rem;"></i>
                    <h1 style="color: white; font-size: 2rem; padding: 2rem; font-weight: bold; text-align: left;">Empieza tu blog</h1>
                    <p style="color: white; margin-right: 1rem;">
                        Todos tenemos una historia que contar. Crea tu blog con la mayor plataforma de creación de blogs del mundo y deja tu huella en internet. Millones de personas de nuestra comunidad están esperandote para escuchar todo lo que tienes que decir. Únete a la
                        comunidad.
                    </p>

                </div>
                <div class="col-md-6 segundo">
                    <i class="fas fa-stream fa-3x fa-lg" style="color: white; text-align: center; margin-left: 10rem;"></i>
                    <h1 style="color: white; font-size: 2rem; padding: 2rem; font-weight: bold; text-align: left;">Diseña un portafolio</h1>
                    <p style="color: white; margin-left: 1rem;">
                        Encuentra el diseño ideal para tu página web entre los miles de temas que hay disponibles, y disfruta de opciones de diseño y disfruta de opciones de diseño y almacenamiento que te permitirán subir todo lo que necesitas para exhibir tu trabajo de la manera
                        que te mereces.
                    </p>

                </div>
            </div>

        </div>

    </section>
</div>