<app-homeboard></app-homeboard>

<div class="contenedor-dismissed">

    <div class="row">
        <div class="col-75">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <a routerLink="/configurations"><i class="fas fa-arrow-left"></i>  Volver</a>
                    </div>
                    <div class="col-sm-6">
                        Cerrar cuenta
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 1rem;">
        <div class="col-75">
            <div class="container">
                <div class="row" style="color: red;">
                    <div class="col-sm-12">
                        <h4>Cerrar cuenta</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p>La accion de cerrar la cuenta no se puede deshacer. Esta acción eliminará tu cuenta junto con todos tus sitios y sus contenidos.</p>
                        <p>No podrás abrir una cuenta en Deviacat-cms con la misma dirección de correo electrónico durante 30 días.</p>
                        <p>No podrás acceder a ningún otro servicio de Automattic que use tu cuenta de WordPress.com como método de acceso. Esto incluye WooCommerce.com, Crowdsignal.com, IntenseDebate.com y Gravatar.com. Estos servicios también se cerrarán al cerrar tu cuenta de WordPress.com, y no podrás acceder a los pedidos o al historial de soporte que tengas. </p>
                        <p>Cuando estés listo para continuar, usa el botón "Cerrar cuenta".</p>
                    </div>
                    <div class="col-sm-6">
                        <h3>SE ELIMINARÁN ESTOS ELEMENTOS</h3>
                        <ul>
                            <li>Hola1</li>
                            <li>Hola2</li>
                            <li>Hola3</li>
                            <li>Hola4</li>
                            <li>Hola5</li>
                        </ul>
                    </div>
                </div>

                <hr>
                <div class="row" style="color: red;">
                    <a type="button" ><i class="fas fa-trash-alt"></i> Cerrar Cuenta</a>
                </div>
            </div>
        </div>
    </div>
</div>