<app-homeboard></app-homeboard>
<div class="contenedor-config" id="payroll-list"> 

    <div class="row">
        <div class="col-75">
            <div class="container">
                <form action="/action_page.php">

                    <div class="row">
                        <div class="col-50">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="">Nombre de usuario</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text">
                                </div>
                                <div class="col-sm-3">
                                    Se unió en marzo de 2020
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="">Direccion de correo electrónico</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text">
                                </div>
                                <div class="col-sm-3">
                                    No se mostrará públicamente
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="">Sitio Web principal</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="">Dirección web</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text">
                                </div>
                                <div class="col-sm-3">
                                    Se muestra públicamente cuando comentas en blogs
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 1rem;">
        <div class="col-75">
            <div class="container">
                <form>
                    <div class="row" style="color: red;">
                        <div class="col-sm-6">
                            <h4>Cerrar tu cuenta de forma permanente</h4>
                        </div>
                        <div class="col-sm-6" style="right: -20rem;">
                           <a routerLink="/dismissed-acount"><i style="color: red;" class="fas fa-angle-right"></i></a> 
                        </div>
                    </div>
                </form>
                <hr>
                <label for="" style="font-style: italic;">Elimina todos tus sitios web y cierra tu cuenta definitivamente</label>
            </div>
        </div>
    </div>
</div>