<div class="container">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <div class="row1 imagen">
                <img src="../../assets/img/57104 (4).png" alt="">
            </div>

            <div class="row2 titulo">
                <h4 class="modal-title">Cierra sesión aquí</h4>
            </div>
        </div>
        <div class="modal-body">
            <div class="row" id="redireccionarcontraseña">
                <span>¿Estás seguro de cerrar tu sesión? </span>
            </div>
        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-info">Aceptar</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>