<div class="contenedor-pages">

    <div class="row">

        <div class="col-75">
            <h3 style="margin-left: 1rem">WORKS</h3>
            <div class="container">

                <div class="row">
                    <div class="col-lg-2">
                        <a>A</a>
                    </div>
                    <div class="col-lg-2">
                        <a>B</a>
                    </div>
                    <div class="col-lg-2">
                        <a>C</a>
                    </div>
                    <div class="col-lg-2">
                        <a>D</a>
                    </div>


                    <div class="col-lg-2">
                        <i class="fas fa-search"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 2rem;">
        <div class="col-75">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <a>Páginas</a>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-danger">Añadir Nueva Página</button>

                    </div>

                    <div class="col-lg-12">
                        <hr>
                        <h3>Página de Inicio</h3>
                    </div>
                    <div class="col-lg-3">
                        <i class="fas fa-clock"></i>
                        <a>  Hace 6 días</a>
                    </div>
                    <div class="col-lg-3">
                        <i class="fas fa-home"></i>
                        <a>  Página de inicio</a>
                    </div>
                    <div class="col-lg-6">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>