:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    width: 100%;
    height: 5rem;
    margin: 0px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    background: #FDC830;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-weight: 600;
    font-family: 'Baloo' !important;
    font-size: 50px !important;
    color: #222222;
    padding-right: 15px;
    -webkit-box-shadow: 0 10px 5px #a39e9e !important;
    -moz-box-shadow: 0 10px 5px #a39e9e !important;
    box-shadow: 0 10px 5px #a39e9e !important;
}

.btn .btn:not(.btn-link):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
}

.toolbar .logo::-ms-ticks-after {
    border-color: none;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar img:hover {
    opacity: 0.8;
}

.toolbar #logo {
    width: 50px;
    height: 50px;
    margin: 0 16px;
}

.toolbar logo:hover {
    opacity: 0.8;
}

.btn {
    margin-left: 8px;
    border: 1px solid rgb(27, 31, 35);
    padding: 3px 10px;
}

.content {
    display: absolute;
    /*era flex*/
    margin: 32px auto;
    padding: 0 16px;
    width: 100%;
    /* flex-direction: column;
    align-items: center; */
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill: #888;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card.card-small {
    height: 16px;
    width: 168px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
}

.card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
}

.card.card.highlight-card span {
    margin-left: 60px;
}

svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
}

svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
}

a,
a:visited,
a:hover {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-right: 1rem;
}

.btn:not(.btn-link):hover {
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
    border: none;
}

a:hover {
    color: black;
    /*transform: translateY(16px);*/
    box-shadow: 0 4px 17px rgba(black, 0.35);
    font-size: 1.5rem;
    cursor: pointer;
}

.circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
}

.circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

footer a {
    display: flex;
    align-items: center;
}