<app-homeboard></app-homeboard>
<div class="contenedor-dash">

    <div class="row">
        <div class="col-75">
            <div class="container">
                <form action="/action_page.php">

                    <div class="row">
                        <div class="col-50">
                            <h3>Perfil</h3>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="../../../assets/img/57104 (4).png" alt="usuario">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" id="fname" name="firstname" placeholder="Nombre">

                                    <input type="text" id="lname" name="lastname" placeholder="Apellido">

                                </div>
                            </div>

                            <input type="text" id="pname" name="publicname" placeholder="Nombre público">

                            <label for="adr"> Sobre mí</label>
                            <textarea name="" id="" cols="140" rows="5"></textarea>


                            <div class="row">
                                <div class="col-50">
                                    <label for="expyear">Esta información se mostrará públicamente en tu perfil</label>
                                </div>
                                <div class="col-50">
                                    <input type="button" value="Guardar información del perfil">
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 1rem;">
        <div class="col-75">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Enlaces del perfil</h4>
                        </div>
                        <div class="col-sm-6">
                            <input type="button" value="Añadir enlace">
                        </div>
                    </div>
                </form>
                <hr>
                <label for="">Administra que sitios aparecen en tu perfil</label>
            </div>
        </div>
    </div>

</div>